* {
    font-family: 'Share Tech Mono', monospace;
}

#board, .boardInfo {
    max-width: 600px;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#start, .boardInfo {
    font-size: 25px;
}

#gameOver {
    display: none;
}

.boardInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#start {
    background-color: palevioletred;
    border: none;
    color: white;
}

#scoreBoard {
    display: inline-flex;
}

.square {
    aspect-ratio: 1 ;
}

.emptySquare {
    background-color: cadetblue;
}

.snakeSquare {
    background-color: yellow;
    border: 1px solid yellowgreen;
}

.foodSquare{
    background-color: brown;
    border: 1px solid whitesmoke;
}
